
body {
  padding-top: 54px;
}

@media print{
  header, footer, nav, aside {
    display: none !important;
  }
}

h1{
  color: black;
}

.business-header {
  height: 50vh;
  min-height: 300px;
  background: url("Main.jpg") center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  height: 100%;
}
